block var
doctype html
html(lang="ja")
  head
    block meta
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      mixin meta(metas)
        meta(name="description", content=metas.description)
    block title
    block link
      link(rel="stylesheet", href="")
  body
    block body
    block end_of_body
